absl-py==1.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
bilateralfilter==0.1
black==21.4b2
boundary-iou @ git+https://github.com/bowenc0221/boundary-iou-api.git@37d25586a677b043ed585f10e5c42d4e80176ea9
cachetools==5.2.0
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
charset-normalizer==2.1.1
cityscapesScripts==2.2.1
click==8.1.3
cloudpickle==2.1.0
coloredlogs==15.0.1
cycler==0.11.0
Cython==0.29.32
# Editable install with no version control (detectron2==0.6)
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
fonttools==4.37.1
future==0.18.2
fvcore==0.1.5.post20220512
google-auth==2.11.0
google-auth-oauthlib==0.4.6
grpcio==1.48.0
h5py==3.7.0
humanfriendly==10.0
hydra-core==1.2.0
idna==3.3
imageio==2.21.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
iopath==0.1.9
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
MultiScaleDeformableAttention==1.0
mypy-extensions==0.4.3
networkx==2.8.6
numpy==1.23.2
oauthlib==3.2.0
omegaconf==2.2.3
opencv-python==4.6.0.66
packaging==21.3
panopticapi @ https://github.com/cocodataset/panopticapi/archive/master.zip
pathspec==0.9.0
Pillow==9.2.0
Polygon3==3.0.9.1
portalocker==2.5.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pydot==1.4.2
pyparsing==3.0.9
pyquaternion==0.9.9
python-dateutil==2.8.2
PyWavelets==1.3.0
PyYAML==6.0
rapidfuzz==2.13.7
rasterizer==0.0.0
regex==2022.8.17
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scipy==1.9.0
Shapely==1.8.4
six==1.16.0
submitit==1.4.5
tabulate==0.8.10
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==1.1.0
tifffile==2022.8.12
timm==0.6.7
toml==0.10.2
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
tqdm==4.64.0
typing==3.7.4.3
typing_extensions==4.3.0
urllib3==1.26.12
Werkzeug==2.2.2
yacs==0.1.8
zipp==3.8.1
